{% extends 'base.html' %}
{% load static %}
{% block title %} Contact {% endblock %}

{% block content %}
<!-- Contact Section -->
<section id="contact" class="contact section light-background">
  
  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Contact</h2>
    <p>Travel Smarter – It Begins with a Hello!</p>
  </div><!-- End Section Title -->

  <div class="container" data-aos="fade-up" data-aos-delay="100">

    <div class="row justify-content-center g-4 g-lg-5">
      <div class="col-lg-5">
        <div class="info-box" data-aos="fade-up" data-aos-delay="200">
          <h3>Contact Info</h3>
          <p>For bookings, enquiries or feedback;</p>  
          <div class="info-item" data-aos="fade-up" data-aos-delay="300">
            <div class="icon-box">
              <i class="bi bi-geo-alt"></i>
            </div>
            <div class="content">
              <h4>Our Location</h4>
              <p>Tom Mboya Street</p>
              <p>Nairobi, Kenya</p>
            </div>
          </div>

          <div class="info-item" data-aos="fade-up" data-aos-delay="400">
            <div class="icon-box">
              <i class="bi bi-telephone"></i>
            </div>
            <div class="content">
              <h4>Phone Number</h4>
              <p>+254 759 629 498</p>
            </div>
          </div>

          <div class="info-item" data-aos="fade-up" data-aos-delay="500">
            <div class="icon-box">
              <i class="bi bi-envelope"></i>
            </div>
            <div class="content">
              <h4>Email Address</h4>
              <p>bookings@klassicsafaris.com</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</section><!-- /Contact Section -->

{% endblock %}