{% extends 'base.html' %}
{% load static %}
{% block title %} Update Bookings {% endblock %}

{% block content %}

<!-- Book A Seat Section -->
<section id="book-a-seat" class="book-a-seat section">

  <!-- Section Title -->
  <div class="container section-title text-center" data-aos="fade-up">
    <h2>Book A Seat</h2>
    <p><span>Book Your</span> <span class="description-title">Journey With Us<br></span></p>
  </div><!-- End Section Title -->

  <div class="container d-flex justify-content-center">

    <div class="col-lg-8 d-flex align-items-center reservation-form-bg p-4 border rounded bg-light shadow" data-aos="fade-up" data-aos-delay="200">
      <form method="post" class="w-100">
        {% csrf_token %}
        <div class="row gy-4">
          <div class="col-lg-4 col-md-6">
            <label for="name" class="form-label">Name</label>
            <input type="name" class="form-control" name="name" id="name" placeholder="Your Name" value="{{ seat.name }}" required="">
          </div>
          <div class="col-lg-4 col-md-6">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" value="{{ seat.email }}" required="">
          </div>
          <div class="col-lg-4 col-md-6">
            <label for="phone" class="form-label">Phone</label>
            <input type="phone" class="form-control" name="phone" id="phone" placeholder="Your Phone" value="{{ seat.phone }}" required="">
          </div>
          <div class="col-lg-4 col-md-6">
            <label for="date" class="form-label">Date</label>
            <input type="date" name="date" class="form-control" id="date" value="{{ seat.date|date:'Y-m-d' }}" required>
          </div>
          <div class="col-lg-4 col-md-6">
            <label for="people" class="form-label">People</label>
            <input type="number" class="form-control" name="people" id="people" value="{{ seat.people }}" placeholder="# of people" required>
          </div>
          <div class="col-md-4 form-group mt-3">
            <label for="time" class="form-label">Departure Time</label>
            <select name="time" id="time" class="form-select" required="">
              <option value="">Select Departure Time</option>
              <option value="0000hrs" {% if seat.time == "0000hrs" %}selected{% endif %}>0000hrs</option>
              <option value="0400hrs" {% if seat.time == "0400hrs" %}selected{% endif %}>0400hrs</option>
              <option value="0800hrs" {% if seat.time == "0800hrs" %}selected{% endif %}>0800hrs</option>,
              <option value="1200hrs" {% if seat.time == "1200hrs" %}selected{% endif %}>1200hrs</option>
              <option value="1600hrs" {% if seat.time == "1600hrs" %}selected{% endif %}>1600hrs</option>
              <option value="2000hrs" {% if seat.time == "2000hrs" %}selected{% endif %}>2000hrs</option>
            </select>
          </div>
          <div class="col-md-4 form-group mt-3">
            <label for="travel_class" class="form-label">Travel Class</label>
            <select name="travel_class" id="travel_class" class="form-select" required>
              <option value="">Select Class</option>
              <option value="Economy Class" {% if seat.travel_class == "Economy Class" %}selected{% endif %}>Economy Class</option>
              <option value="Comfort Class" {% if seat.travel_class == "Comfort Class" %}selected{% endif %}>Comfort Class</option>
              <option value="Business Class" {% if seat.travel_class == "Business Class" %}selected{% endif %}>Business Class</option>
            </select>
          </div>
          <div class="col-md-4 form-group mt-3">
            <label for="route" class="form-label">Route</label>
            <select name="route" id="route" class="form-select" required>
              <option value="">Select Route</option>
              <option value="Nairobi - Mombasa" {% if seat.route == "Nairobi - Mombasa" %}selected{% endif %}>Nairobi - Mombasa</option>
              <option value="Mombasa - Nairobi" {% if seat.route == "Mombasa - Nairobi" %}selected{% endif %}>Mombasa - Nairobi</option>
              <option value="Nairobi - Kisumu" {% if seat.route == "Nairobi - Kisumu" %}selected{% endif %}>Nairobi - Kisumu</option>
              <option value="Kisumu - Nairobi" {% if seat.route == "Kisumu - Nairobi" %}selected{% endif %}>Kisumu - Nairobi</option>
              <option value="Nairobi - Meru" {% if seat.route == "Nairobi - Meru" %}selected{% endif %}>Nairobi - Meru</option>
              <option value="Meru - Nairobi" {% if seat.route == "Meru - Nairobi" %}selected{% endif %}>Meru - Nairobi</option>
            </select>
          </div>
        </div>
        <div class="form-group mt-3">
          <label for="message" class="form-label">Message</label>
          <textarea class="form-control" name="message" rows="5" placeholder="Message (Optional)">{{ seat.message }}</textarea>
        </div>

        <div class="text-center mt-3">
          <button type="submit" class="btn btn-primary me-0 me-sm-2 mx-1">Book a Seat</button>
        </div>
      </form>
    </div><!-- End Booking Form -->

  </div>

</section>
<!-- /Book A Seat Section -->




{% endblock %}